# Gradle files
.gradle/
build/
*.jar
*.war
*.iml

# Gradle wrapper を例外化（*.jar による無視を解除）
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDE files
.idea/
.idea.bak/
.DS_Store
.settings/

# Build outputs
bin/
out/